<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		<add key="framerate-v1" value="90"/>
	    <add key="framerate-v2" value="60"/>
		<add key="framerate-v3" value="24"/>
		<add key="framerate-v4" value="10"/>
		<add key="bitrate-v1" value="4000"/>
		<add key="bitrate-v2" value="2500"/>
		<add key="bitrate-v3" value="1000"/>
		<add key="bitrate-v4" value="500"/>
		<add key="resolucion-v1" value="1080"/>
		<add key="resolucion-v2" value="720"/>
		<add key="resolucion-v3" value="480"/>
		<add key="resolucion-v4" value="240"/>
	
	</appSettings>
</configuration>